data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/lastfm
data/processed/lastfm/*
!data/processed/lastfm/my_list.txt
web/data/*
web/discovery-rs.jpg
node_modules
models/*
!models/.gitkeep

*.pyc
*.pyo
